[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest-watch = "*"
jedi = "*"
black = "==19.10b0"

[packages]
click = "*"
toml = "*"
prompt-toolkit = "*"
structlog = "*"
colorama = "*"
"discord.py" = {extras = ["voice"]}
libtmux = "*"
tenacity = "*"
gtts = "*"

[requires]
python_version = "3.7"
